body,ul,li,p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}
a{
    text-decoration: none;
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: grey;
}
.menu{
    display:flex;
}
.menu li a{
    margin-left: 20px;
    padding:10px;
    
}
.container li a{
    flex-direction:row;
    display:flex;
    margin-left: 10px;
}
.container ul{
    display: flex;
    margin-left: 10px;
}
.img-responsive{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
