{% extends 'base.html'%}

{% block content %}
    <h1>Local Library Home</h1>
    <p>Welcome to library, a website developed to studyng</p>
    <ul>
        <li><strong>Books: </strong>{{ num_books }}</li>
        <li><strong>Copies: </strong>{{ num_instances }}</li>
        <li><strong>Copies availables: </strong>{{ num_instances_available }}</li>
        <li><strong>Authors: </strong>{{ num_authors }}</li>
    </ul>
    <p>You have visited this page {{ num_visits }}
    {% if num_visits == 1 %} 
        time
    {% else %}      
        times
    {% endif %}.</p>
    {% endblock %}